/* ! common style */
body{
   background-color: rgba(173, 216, 230, 0.205);
}
#main-title{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.phone-finder{

   font-family: Verdana, Geneva, Tahoma, sans-serif
}
#loading{
   display: none;
}
#not-available{
   background-color: #c4eaf7;
   display: none;
}